/* Reset & Base Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--text-normal);
    font-family: var(--font-text);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}